{% extends 'basepage.html' %}

{% block title %}
公告
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../static/css/news.css">
{% endblock %}

{% block menu %}
<a href="/" class="nav-item nav-link">首頁</a>
<a href="/about" class="nav-item nav-link">關於我們</a>
<a href="/product" class="nav-item nav-link">商品服務</a>
<a href="/news" class="nav-item nav-link active">最新消息</a>
<a href="/contact" class="nav-item nav-link">聯絡我們</a>
{% endblock %}

{% block mainpage %}

<div id="newstext">
	<p>最新公告</p>

	{% for row in result %}

		<div class="text_news">
			<a href="#">
				<h3>{{row[0]}}</h1>
				<h5>{{row[1]}}</h3>
			</a>
		</div>
	{% endfor %}
	
</div>

{% endblock %}