{% extends "base1.html" %}

{% block title %}
會員登入
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="/static/css/form.css">
{% endblock %}

{% block content %}

<div id="loform">
	<p class="subject">會員登入</p>
	<form class="contact_form" action="" method="post">
		{% csrf_token %}

		<span style="font-size: 20px;color: red;">{{msg}}</span>

		<div class="form-group">
			<label>帳號</label><br>
			<input type="email" name="email" value="{{myemail}}" class="form-control" placeholder="輸入email" required>
		</div>

		<div class="form-group">
			<label>密碼</label><br>
			<input type="password" name="pwd" class="form-control" required>
		</div>

		<div class="form-group">
			<button type="submit" class="btn_submit">登入</button><span style="font-size: 18px;color: black;margin-left: 15px;">沒有帳號，從此處<a href="/register">註冊</a></span>
		</div>

	</form>
</div>

{% endblock %}