{% extends "base.html" %}

{% block title %}
產品
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="/static/css/product.css">
{% endblock %}

{% block content %}
	{% if allgoods %}
		{% for row in allgoods %}
		<div class="bopro">

			<a href="{{row.link_url}}" target="_blank">
				<div class="pic">
					<img src="{{row.img_url}}">
				</div>
				<div class="binfo">
					<span class='btitle'>{{row.title}}</span><br>
					<span class='btext'>作者：{{row.author}}</span><br>
					<span class="btext">出版社：{{row.publisher}}</span><br>
					<span class="btext">出版日期：{{row.publish_date}}</span><br>
				</div>
				<div class="bprice">
					<span class="bmoney">{{row.price}}</span>元
					<a href="/addtocart/add/{{row.id}}/"><button type="button">放入購物車</button></a>
				</div>
			</a>
			
		</div>
		{% endfor %}

	{% else %}
		<div class="bopro">
			查無資料！！
		</div>
	{% endif %}

	{% if allgoods.has_previous %}
	<div style="float: left; height: 23px;width: 60px;margin-top: 50px;margin-left:45%; border-radius: 15px;border:1px solid gray;text-align: center; margin-bottom: 50px;">

		
		<a href="?page={{allgoods.previous_page_number}}&p={{book}}" style="text-decoration: none;">上一頁</a>
	</div>
	{% endif %}

	{% if allgoods.has_next %}
	<div style="float: right; height: 23px;width: 60px;margin-top: 50px;margin-right:45%; border-radius: 15px;border:1px solid gray;text-align: center; margin-bottom: 50px;">
		<a href="?page={{allgoods.next_page_number}}&p={{book}}" style="text-decoration: none;">下一頁</a>
	</div>
	{% endif %}

	<div style="clear: both;"></div>


{% endblock %}
