{% extends "base.html" %}

{% block title %}
產品
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="/static/css/product.css">
{% endblock %}

{% block content %}
	{% if allgoods %}
		{% for row in allgoods %}
		<div class="bopro">

			<a href="{{row.link_url}}" target="_blank">
				<div class="pic">
					<img src="{{row.img_url}}">
				</div>
				<div class="binfo">
					<span class='btitle'>{{row.title}}</span><br>
					<span class='btext'>作者：{{row.author}}</span><br>
					<span class="btext">出版社：{{row.publisher}}</span><br>
					<span class="btext">出版日期：{{row.publish_date}}</span><br>
				</div>
				<div class="bprice">
					<span class="bmoney">{{row.price}}</span>元
					<a href="/addtocart/add/{{row.id}}/"><button type="button">放入購物車</button></a>
				</div>
			</a>
			
		</div>
		{% endfor %}

	{% else %}
		<div class="bopro">
			查無資料！！
		</div>
	{% endif %}

	<div class="pagination">
    	<span class="step-links">
	        {% if allgoods.has_previous %}
	            <a href="?page=1&p={{book}}">&laquo; </a>
	            <a href="?page={{ allgoods.previous_page_number }}&p={{book}}">&lsaquo; 上一頁</a>
	        {% endif %}

	        <span class="current-page">
	            第{{ allgoods.number }}頁/共{{ allgoods.paginator.num_pages }}頁
	    	</span>

	        {% if allgoods.has_next %}
	            <a href="?page={{ allgoods.next_page_number }}&p={{book}}">下一頁 &rsaquo;</a>
	            <a href="?page={{ allgoods.paginator.num_pages }}&p={{book}}"> &raquo;</a>
	        {% endif %}
    	</span>
	</div>


	<div style="clear: both;"></div>


{% endblock %}
